html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Make things look like links */
.link {
  cursor: pointer;
  color: #007bff;
}

.link:hover {
  text-decoration: underline;
}

.link-disabled {
  cursor: default;
  color: #3797ff;
}

.oauth-icon {
  height: 30px;
  width: 7%;
  color: #007bff;
}

.oauth-icon:hover {
  cursor: pointer;
  transform: rotate(360deg) scale(1.25);
  transition: 1s;
}

.oauth-icon-disabled {
  height: 30px;
  width: 7%;
  color: #3797ff;
}

.oauth-icon-disabled:hover {
  cursor: default;
  transform: none;
  transition: none;
}

input,
.card,
.alert {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
}

.twitter-picker > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-scroll-x {
  overflow: hidden;
  overflow-x: scroll;
  margin-bottom: 1rem;
}

.container-scroll-x::-webkit-scrollbar {
  height: 4px; /* height of horizontal scrollbar â† You're missing this */
  width: 4px; /* width of vertical scrollbar */
  border: 2px transparent;
}

.container-scroll-x::-webkit-scrollbar-thumb:horizontal {
  background: rgba(87, 25, 255, 0.5);
  border-radius: 2rem;
}

.container-scroll-x > * {
  white-space: nowrap;
  margin: 0;
}
